@{
    ViewData["Title"] = "Experiment - Start";
}

@{
    var experimentTypeClaim = User.Claims.FirstOrDefault(c => c.Type == "ExperimentType")?.Value;
}
<p>Experiment Type: @experimentTypeClaim</p>

@switch (experimentTypeClaim)
{
    case "InformationOverload":
        <p>You are running the Information Overload experiment.</p>
        break;
    case "Complexity":
        <p>You are running the Complexity experiment.</p>
        break;
    case "TimePressure":
        <p>You are running the Time Pressure experiment.</p>
        break;
    case "Uncertainty":
        <p>You are running the Uncertainty experiment.</p>
        break;
    case "Competition":
        <p>You are running the Competition experiment.</p>
        break;
    case "Risk":
        <p>You are running the Risk experiment.</p>
        break;
    default:
        <p>Unknown experiment type.</p>
        break;
}



@{
    var index = 0;
    foreach (var markerBuoy in Model.MarkerBuoys)
    {

        <div id="markerBuoy_@index" class="@(index == 0 ? "current-buoy" : "d-none")" >
            <img src="@markerBuoy.ImageURL" />
            @markerBuoy.Name
        </div>
        
        index++;
    }
}


<div class="buoy-buttons">
    @foreach (var markerBuoyType in Enum.GetValues(typeof(MarkerBuoyType)))
    {
        <button type="button" class="buoy-btn" data-buoy-type="@markerBuoyType">
            @((markerBuoyType as MarkerBuoyType?).GetValueOrDefault().GetDescription())
        </button>
    }
</div>



<button type="button" onclick="nextBuoy()">Next Buoy</button>









<script src="/js/experiment/test.js"></script>





<a href="/experiment/test">Submit Test</a>